body {
  background-color: #659b5e; /* green */
}

h2 {
  color: #e2dfbe; /* pale yellow */
}

.playMusicButton {
  background-color: #c6b603; /* yellow */
}

.calibrateButton {
  background-color: #c6b603; /* yellow */
}

.liveInputButton {
  background-color: #c6b603; /* yellow */
}
